main{
    background-color: #ededed;
}

.title-page-bicicletas-{
  /* background-color: #111; */
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;

}

.title-page-bicicletas- p{
  color: #b2b2b2;
  font-size: 2rem;
}

.title-page-bicicletas- h1{
  font-size: 4rem;
  color: #111;
}

.bg-co{
    background:linear-gradient(to top, #ededed 30%, #111 0%);

}

.container-contato{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom:80px;
    padding-top: 80px;

}

.container-contato-dir{
    background-color: #000;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 40px 40px;  
}

.container-contato-dir{
    border-radius:4px ;
}



.infors {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.contato-form{
    display: grid;
    grid-template-columns: 1fr  ;
    gap:40px;
    background-color: #fff;
    padding: 40px 40px;

}

.contato-form-grid-interno{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    
}

.contato-form-grid-interno input, textarea{
    font-family:  "Roboto", sans-serif;
    font-size: 1.5rem;
    background-color:#f7f7f7;
    border: 1px solid #ededed;
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.contato-form-grid-interno-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: start;
}

.contato-form-grid-interno a{
    padding: 16px 32px;
    background: linear-gradient(#ffbf00, #f2a50c);
    border-radius: 4px;
    text-transform: uppercase;
    color: #332200;
    font: 600 1.125rem/1.35 "Poppins", sans-serif
}

.lojas-locais{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 150px;
    gap: 50px;
    
}

.lojas-locais-{
    display: grid;
    grid-template-columns:1fr;
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    margin-bottom: 0;
    
}   
.lojas-locais- h4{
    font-size: 2rem;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 20px;

}

.grid-infor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 40px;
    padding-top:20px ;
    
}
.add-bef{
   border-left: 1px solid #b2b2b2;
   
}
.add-bef p{
    margin-left: 10px;
}




.mapa{
    object-fit: cover;
    width: 100%;
}

.icones-hor{
    display: flex; 
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.icones-hor span{
    font-size: 1rem;
}
.icones-hor img{
   object-fit: cover;
   width: 5%;
   height: 100%;
 
}