.title-page-orcamento{
    color: #fff;
    margin: 0 auto;
    max-width: 1200px;
}
.title-page-orcamento h1{
    font-size: 4rem;
}
.title-page-orcamento p{
    font-size: 2rem;
}

.orcamento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
}
.orcamento-produto{
    background-color: #000;
    color: #fff;
    padding: 50px;
    border-radius: 4px;
}
.orcamento-produto {
    display: grid;
    
}

#orcamento-bikcraft, #orcamento-seguro{
    display: none;
}
#bikcraft:checked ~#orcamento-bikcraft,
#seguro:checked ~#orcamento-seguro{
display: block;
}
.orcamento-conteudo label, .orcamento-produto label{
    display: block;
    background-color: #2e2e2e;
    border: 1px solid #2e2e2e;
    border-radius:4px ;
    color: #ccc;
    padding: 12px 16px;
    text-align: start;
}
.orcamento-conteudo span{
    display: none;
}
.orcamento-conteudo input, .orcamento-produto input{
    pointer-events: none;
    opacity: 0;
}
.orcamento-conteudo h2{
    margin-bottom: 20px;
}
.orcamento-detalhes{
    display: none;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    color: #111;
    padding: 40px 20px 20px 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.orcamento-detalhes ul li{
    list-style: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 40px;
    

}
.orcamento-detalhes .pic{
    object-fit: cover;
    width: 100%;
}

#nimbus:checked +label+.orcamento-detalhes,
#magic:checked +label+.orcamento-detalhes,
#nebula:checked +label+.orcamento-detalhes{
    display: grid;
}