.container-orcamento{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}
#radio-bike, #radio-seguro{
    display: none;
}
#bikcraft:checked ~ #radio-bike,
#seguros:checked ~ #radio-seguro{
    display: block;
}

  #nimbus-, #magic-, #nebula-{
    display: none;
    grid-template-columns: 1fr 1fr;
    
}
#radio-bike li{
    list-style: none;
}
.img-mini{
    object-fit: cover;
    width: 100%;
}
 #nimbus:checked +label+ span + #nimbus-,
 #magic:checked +label+ span + #magic-,
 #nebula:checked +label+ span + #nebula-
 {
    display: grid;
}

