.subtitle-page {
  font-size: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  color:#b2b2b2;
}
.subtitle-page p {
  color: #b2b2b2;
  font-size: 2rem;
  color:#b2b2b2;
}
.bg-info{
  background-color: #000;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.img-flex {
  display: flex;
  gap: 4px;
  width: 49.7%;
  border-radius: 4px;
}

.container p {
  color: #b2b2b2;
  font-size: 1.75rem;
  margin-bottom: 40px;
}

.container a {
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.125rem / 1.35 "Poppins", sans-serif;
  margin-bottom: 0;
}

.flex-button {
  display: flex;
  flex-direction: column;
}
.flex-button span {
  font-size: 1rem;
  text-align: right;
  color: #b2b2b2;
  
}

.info-grid p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  background-color: #111;
  padding: 20px 30px;
  color: #fff;
  border-radius: 4px;
  margin-top: 15px;
  opacity: 98%;
}
.info-grid li {
  list-style: none;
}

.info-grid li img {
  display: block;
  height: auto;
  max-width: 10%;
  margin-bottom: 15px;
}

.info-grid p {
  line-height: 1.25;
  font-size: 1rem;
}

.ficha-tec-flex{
  display: flex;
  flex-direction: column;
  color:#b2b2b2;
  background-color: #111;
  padding: 20px 30px;
  margin-top:0px;
  margin-bottom: 40px;
}
.ficha-tec-flex li{
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #c2c2c2 ;
 
}
.ficha-tec-flex span{
  font-size: 1rem;

}

.container h6{
  margin: 15px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #b2b2b2;
}